h1
{
    padding-bottom: 5px;
    text-align: center;
}

p
{
    font-size: 14px;
}

#webgl
{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid black;
    border-radius: 1px;
}
